.container-game {
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: honeydew;
  box-shadow: 1px 1px 20px 8px hsl(327, 100%, 50%);
}

.container-game:hover {
  animation: myAnim 1s ease 0s 1 normal forwards;
  cursor: pointer;
}

.game-div {
  display: flex;
  margin: 10px;
  overflow: hidden;
  width: 320px;
  height: 200px;
}

.game-div img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.title-game {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: hsla(122°, 98%, 65%);
}

.infoContGenres {
  display: flex;
  justify-content: center;
}

.infoRating {
  display: flex;
  justify-content: center;
  height: 35px;
}

.div-button {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.Link {
  margin-top: 30px;
  font-family: "Press Start 2P";
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: hsl(327, 100%, 50%);
  color: hsla(192, 15%, 99%);
}

.Link:hover {
  background-color: hsla(192, 15%, 99%);
  color: hsla(210, 29%, 13%);
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
/* ----------------------- */

.btn-grad {
  background-image: linear-gradient(
    to right,
    #fc00ff 0%,
    #00dbde 51%,
    #fc00ff 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
