.container-div {
  display: flex;
  justify-content: center;
}

.selectCont {
  padding: 10px;
  margin: 15px;
  width: 430px;
  border-radius: 20px;
  background-color: wheat;
}

.option {
  margin: 5px;
}

.optionGroup {
  padding: 10px;
}
