.main-add {
  display: flex;
  justify-content: center;
  background: url("../../img/back-crear.jpg") center center/cover no-repeat;
}

.container-add {
  text-align: center;
  margin: 40px;
  padding: 20px;
  width: 800px;
  height: 650px;
}

.container-add h2 {
  text-align: center;
  font-size: xx-large;
  color: hsla(46, 100%, 50%);
}

.div-cont {
  display: flex;
  justify-content: center;
  color: white;
}

.genres-div {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  background-color: black;
}

.plat-div {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  background-color: black;
}

.container-add label {
  font-size: 20px;
  margin: 10px;
}

.name {
  height: 35px;
  width: 660px;
}

.dt {
  height: 35px;
  width: 660px;
}

.div-but-form {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.div-but-form button {
  background-image: linear-gradient(
    to right,
    #fc00ff 0%,
    #00dbde 51%,
    #fc00ff 100%
  );
  position: sticky;
  left: 630px;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.div-but-form button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.container-add input {
  color: white;
  background-color: black;
}

.container-add textarea {
  color: white;
  background-color: black;
}
